<!-- 
  Example launch file for octomap_server mapping using nodelets: 
  Listens to incoming PointCloud2 data and incrementally builds an octomap. 
  The data is sent out in different representations. 

  Copy this file into your workspace and adjust as needed, see
  www.ros.org/wiki/octomap_server for details  
-->
<launch>
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>

  <node pkg="nodelet" type="nodelet" name="octomap_server_nodelet" args="load octomap_server/OctomapServerNodelet standalone_nodelet">
		<param name="resolution" value="0.02" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="os_imu" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="5.0" />
		
		<!-- data source to integrate (PointCloud2) -->
		<remap from="octomap_server_nodelet/cloud_in" to="cloud_in" />
		<remap from="cloud_in" to="/ouster/points" />

		<param name="filter_ground" type="bool" value="false"/>
		<param name="filter_speckles" type="bool" value="true"/>
		<param name="ground_filter/distance" type="double" value="0.45"/>
		<param name="ground_filter/plane_distance" type="double" value="0.45"/>
		<param name="pointcloud_min_z" type="double" value="-0.05"/>
		<param name="pointcloud_max_z" type="double" value="0.45"/>
		<param name="occupancy_min_z" type="double" value="0.0"/>
		<param name="occupancy_max_z" type="double" value="0.45"/>
		
	  <!-- output collision map -->
	  <remap from="octomap_server_nodelet/collision_map_out" to="collision_map_out"/>
	
	</node>
</launch>
